body{
    margin: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
}
#sectionone {
    width: 900px;
    height: 110px;
    justify-content: left;
    margin-left: 240px;
    font-size: 20px;
}
#sectiontwo{
    border-top: 10px;
    height: 110px;
    display: flex;
    margin-left: 350px;
    padding: 15px;
    font-size: 30px;
}
#sectinflex{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}
h2{
    text-align: center;
    font-size: 50px;
}
/*Titulo animado*/
svg {
    font-family: 'Russo One', sans-serif;
    width: 100%;
    height: 100%;
}

svg text {
    text-transform: uppercase;
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #76b900;
    font-size: 70px;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: #76b900;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: #76b900;
    }

    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: #76b900;
        stroke-width: 3;
    }

    100% {
        fill: #76b900;
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

/*Titulo animado Fim*/
/*Seletor do Trilho/Scrolling Bar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #76b900;
    border-radius: 15px;
}

/*Barra de scrolling perso Fim*/
/*Carrossel Começo*/
.slider {
    margin: 0 auto;
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin-top: -225px;
}

.slides {
    width: 400%;
    height: 450px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
}

.manual-navegation {
    position: relative;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navegation-auto div {
    border: 2px solid #76b900;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegation-auto {
    position: absolute;
    width: 100%;
    margin-top: 410px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navegation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navegation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navegation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked~.navegation-auto .auto-btn4 {
    background-color: white;
}

/*Carrossel Fim */
/*Inicio Cards*/

/*Final card 1 */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.cardsimgs {
    height: 500px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
}

.intro {
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: -1630px;
    background: rgb(27, 27, 27, .5);
    transition: .5s;
}

.h1card {
    margin: 10px;
    font-size: 40px;
    color: white;
}

.pcard {
    font-size: 20px;
    margin: 2px;
    color: white;
    visibility: hidden;
    opacity: 0;
}

span {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
}

.card:hover .intro {
    height: 220px;
    bottom: -1630px;
    background-color: #202020;
}

.card:hover .pcard {
    opacity: 1;
    visibility: visible;
}

.card:hover .cardsimgs {
    transform: scale(1.1) rotate(-3deg);
}

/*Final card 1 */

/*Começo Card 2 */
.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2 {
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}

.cardsimgs2 {
    height: 500px;
    width: 350px;
    border-radius: 3px;
    transition: .5s;
}

.intro2 {
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: -2230px;
    background: rgb(27, 27, 27, .5);
    transition: .5s;
}

.h1card2 {
    margin: 10px;
    font-size: 40px;
    color: white;
}

.pcard2 {
    font-size: 20px;
    margin: 2px;
    color: white;
    visibility: hidden;
    opacity: 0;
}

span {
    font-weight: bold;
}

.card2:hover {
    cursor: pointer;
}

.card2:hover .intro2 {
    height: 220px;
    bottom: -2230px;
    background-color: #202020;
}

.card2:hover .pcard2 {
    opacity: 1;
    visibility: visible;
}

.card2:hover .cardsimgs2 {
    transform: scale(1.1) rotate(-3deg);
}

/*Final card 2 */
#h2eqp{
    text-align: center;
    font-size: 50px;
}