img {
    height: 190px;
    width: 235px;
    margin-left: 5px;
    margin-right: 5px;
}
body {
    background-color: black;
    margin: 0%;
}
section {
    background-color: rgb(37, 37, 37);
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 8px;
}
div {
    display: flex;
}
h1 {
    text-align: center;
    color: white;
    margin-top: 2%; 
}
h2 {
    color: rgb(255, 244, 127);
}
#h11 {
    font-size: 60px;
    margin-top: -180px;
}