body{
   
    background-color: black;
    color: #ffffff;
}

h1{
    text-align: center;
    color: #76b900;
}

#div1{
    background-color:;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 25px;
    color: white;
}

#div2{
    background-color: #202020;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 25px;
    color: white;
    display: flex;

}

#section1{
    display: flex;
    font-size: 30px;
    color: #ffffff;
    background-color: #202020;

}

.section_card{
    font-size: 30px;
    color: #ffffff;
    background-color: #202020;
    margin-bottom: 66px ;
    display: flex;
}

#div4{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 25px;
    color: white;
    display: flex;
}

img{

    margin-right: 8px;
    float: left;
    
}


.divs{
    background-color: #202020;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 25px;
    color: white;
    margin-left: 15px;

}

#sectinflex{
    display: flex;
}

h3{
    margin-right: 8px;
}

p {
    font-size: 18px;
    
}
