#article1{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
body{
    background-color: black;
    color: white;
}
#article2{
    text-align: center;
}
#article3{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article4{
    text-align: center; 
}
#article5{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}