body {
    background-color: black;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
}
h1 {
    font-size: 39px;
    text-align: center;
}
#img_banner {
    margin-top: -238px;
    height: 400px;
    width: 850px;
}
#img_banner_center {
    text-align: center;
}
#subtitulo1 {
    font-size: 25px;
    text-align: center;
    color: red;
}
#subtitulo2 {
    font-size: 25px;
    text-align: center;
    color: orange;
}
#subtitulo3 {
    font-size: 25px;
    text-align: center;
    color: yellow;
}
#subtitulo4 {
    font-size: 25px;
    text-align: center;
    color: cornflowerblue;
}
#subtitulo5 {
    font-size: 25px;
    text-align: center;
    color: green;
}
#img_1 {
    width: 600px;
    height: 300px;
}
#img_2 {
    width: 600px;
    height: 300px;
}
#img_3 {
    width: 600px;
    height: 300px;
}
#img_4 {
    width: 600px;
    height: 300px;
}
#img_5 {
    width: 600px;
    height: 300px;
}
p {
    text-align: center;
}
.sections {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
}