#image1 {
    height: 400px;
    width: 850px;
    border-radius: 5px;
}
#p1 {
    text-align: center;
    margin-top: 5px;
}
body {
    background-color: black;
    color: #ffffff;
}
h1 {
    text-align: center;
}
h2 {
    font-size: 23px;
    color: #ffffff;
}
#textao {
    font-size: 50px;
}
#textin {
    margin-top: 0%;
    text-align: center;
}
div {
    background-color: #202020;
    text-align: center;
    margin-top: 80px;
    margin-left: 220px;
    margin-right: 220px;
    border-radius: 15px;
}
#image2 {
    height: 300px;
    width: 600px;
    border-radius: 5px;
}
#jd {
    color: red;
    font-size: 45px;
}
#jf {
    color: rgb(255, 0, 136);
    font-size: 45px;
}
#jo {
    color: rgb(255, 123, 0);
    font-size: 45px;
}
#image3 {
    width: 580px;
    height: 300px;
    border-radius: 5px;
}
#js {
    color: rgb(255, 57, 169);
    font-size: 45px;
}
#classi {
    color: red;
}
#jp {
    font-size: 45px;
}
#link_django {
    text-decoration: none;
    color: #ffffff;
}
