body {
    background-color: black;
}
#textao {
    color: #ffda35;
    text-align: center;
}
#textin {
    text-align: center;
    color: #f9f8bf;
}
#ij {
    height: 150px;
    width: 250px;
    border-radius: 5px;
}
#sec1 {
    background-color: #161616;
    width: 250px;
    height: 300px;
    margin-left: 243px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
}
#link_django {
    text-decoration: none;
    color: #ffffff;
}
#div1 {
    display: flex;
}
h2 {
    text-align: center;
    color: #ffffff;
}
#dj {
    color: red;
}
#ida {
    color: #ffffff;
    background-color: rgb(16, 16, 16);
    border-radius: 12px;
    width: 44px;
    margin-left: 106px;
    margin-right: 106px;
}
#sec2 {
    background-color: #161616;
    width: 250px;
    height: 300px;
    margin-left: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 12px;
}
#div2 {
    display: flex;
    margin-top: 30px;
}
h1 {
    font-size: 50px;
}
#ida14 {
    color: #ffffff;
    background-color: rgb(211, 99, 18);
    border-radius: 12px;
    width: 44px;
    margin-left: 106px;
    margin-right: 106px;
}
#ida16 {
    color: #ffffff;
    background-color: rgb(201, 1, 1);
    border-radius: 12px;
    width: 44px;
    margin-left: 106px;
    margin-right: 106px;
}
h3 {
    color: #ffffff;
}