body {
    background-color: black;
    color: #ffffff;
    font-family: sans-serif;
    margin: 0;
}
div {
    background-color: #101010;
}
#h1_título {
    text-align: center;
    font-size: 59px;
    margin-bottom: 77px;
    color: #76b900;
}
#img_banner {
    margin-top: -238px;
    height: auto;
    width: 100%;
}
#img_banner_center {
    text-align: center;
}

#main_1 {
    display: flex;
}
#main_2 {
    display: flex;
}
.h2_subtitle {
    font-size: 25px;
    text-align: center;
    color: #76b900;
}
.sections {
    background-color: #101010;
    margin-left: 250px;
}
.p_text {
    font-size: 18px;
    text-align: center;
    width: 65%;
    margin: auto;
}
#img_1 {
    width: 550px;
    height: auto;
    border-radius: 10px;
}
#img_2 {
    width: 550px;
    height: auto;
    border-radius: 10px;
}
.p_image {
    text-align: center;
}
