#image1 {
    width: 100%;
    height: 510px;
    margin-top: -224px;
}
h1 {
    text-align: center;
    color: white;
}
body {
    background-color: black;
    margin: 0%;
}

h2 {
    color: #ffffff;
}
img {
    height: 115px;
    width: 115px;
    border-radius: 3px;
}

#div {

    text-align: center;

}
video {
    height: 490px;
    width: 500px;
}
p {
    text-align: center;
    align-items: center;
    background-image: url(https://wallpapers.com/images/featured/ibgirl59hxvxr5y4.jpg);
    width: 560px;
    margin-left: 359px;
    border-radius: 10px;
}
#q {
    width: 140px;
    height: 100px;
    border-radius: 3px;
}
section {
    margin-left: 80px;
    height: 172px;
    width: 230px;
    margin-top: 40px;
    border-radius: 12px;
    text-align: center;
}
h1 {
    font-size: 40px;
    margin-top: 48px;
    color:  rgb(184, 7, 184);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
    text-decoration: none;
}
#hhh{
    font-size: large;

}
#sec{
    height: 20px;
    width: 50px;
    margin-right: 40px;
}
label {
    color: #ffffff;
    padding-left: 50px;
    padding-right: 50px;
}
#k {
    font-size: large;
    color: #ffffff;
    font-size: 32px; 
    text-align: center;
    margin-top: 37px;
    margin-bottom: 5px;
}

#ddd{
    text-align: center;
}
 #lala {
    display: flex;
    margin-left: 32%;
 }
 #in {
    background-color: red;
    border: 0;
 }
 #h333 {
    color: #ffffff;
    width: 600px;
    margin-left: 20px;
    text-align: justify;
 }
 #amigo {
    text-align: center;
 }
 #idf {
    display: flex;
 }


 #noah {
    display: flex;
 }
 #elenco {
    margin-left: 30px;
 }
 #div1 {
    display: flex;
 }
#diiii {
    background-color: rgb(24, 24, 24);
    height: 750px;
    width: 640px;
    border-radius: 9px;
    padding-top: 0.4px;
}
hr {
width: 20%;
}
#yeat {
    background-color: rgb(184, 7, 184);
    height: auto;
}
