#image1 {
    width: 100%;
    height: 500px;
}
h1 {
    text-align: center;
    color: white;
}
body {
    background-color: black;
    margin: 0%;
}
div {
    background-color: #202020;
    text-align: center;
    height: 160px;
    width: 200px;
}
h2 {
    color: #ffffff;
}
img {
    height: 100px;
    width: 100px;
}
#leo {
    width: 120px;
    height: 100px;
}
#div1 {
    background-color: #202020;
    text-align: center;
    height: 195px;
    width: 200px;
}
