body{
    background-color: black;
 color: white;
}
#article1{
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
    align-items: end;
    flex-direction: row;
    display: flex;
    font-size: 30px;
    padding-top: 10px;
}
#article2{
    text-align: center;
}
div{
margin-top: 50px;
}

