#article1{
    text-align: center;
}
#article2{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
body{
    background-color: black;
    color: white;
}
#article3{
    text-align: center;
}
#article4{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article5{
    text-align: center;
}
#article6{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article7{
    text-align: center;
}
#article8{
text-align: center;
background-color: #202020;
box-shadow: 5px 5px #76b900;
}
#article9{
    text-align: center;
}
#article10{
    text-align: center;
background-color: #202020;
box-shadow: 5px 5px #76b900;
}
#article11{
    text-align: center;
}
#article12{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article13{
    text-align: center;
}
#article14{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article15{
    text-align: center;
}
#article16{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}