body {
    background-color: blanchedalmond;
}

#article1 {
    background-color: darkorange;
    box-shadow: 5px 5px darkgoldenrod;
    text-align: center;
    justify-content: center;
    font-size: larger;
}

#article2 {
    background-color: darkorange;
    box-shadow: 5px 5px darkgoldenrod;
    text-align: center;
    font-size: 19px;
}
#article3{
    text-align: center;
}
#article4{
    background-color: darkorange;
    box-shadow: 5px 5px darkgoldenrod;
    text-align: center;
    font-size: 19px;
}
