body{
    background-color: black;
    color: white;
}
#article1{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article2{
    text-align: center;
}
#article3{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article4{
    text-align: center;
}
#article5{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article6{
    text-align: center;
}
#article7{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article8{
    text-align: center;
}
#article9{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
#article10{
    text-align: center;
}
#article11{
    text-align: center;
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
}
