body {
    background-color: black;
    color: #FFFFFF;
    font-family: sans-serif;
    margin: 0;

}
#section_background {
    justify-content: center;
}
#img_tlu {
    height: auto;
    width: 100%;
    margin-top: -230px;
    z-index: auto;
}
h2 {
    text-align: center;
}
#h2_1notice {
    font-size: 29px;
    color: #76b900;
    margin-left: 10px;
}
#img_1notice {
    height: 200px;
    width: 300px;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}
#h4 {
    font-size: 23px;
    margin-left: 10px;
}
#p_1notice {
    margin-left: 7px;
}
#h3_noticiasemana {
    font-size: 25px;
    color: #76b900;
    margin-left: 10px;
    text-align: center;
}
#firstnotice {
    display: flex;
    width: auto;
    justify-content: center;
}
#div_noticiasemana {
    display: flex;
}
#section_noticiasemana {
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    height: auto;
    font-size: 18px;
    border-radius: 10px;
    justify-content: center;
}
.p_noticiasemana {
    margin-top: -1px;
    margin-left: 20px;
}

#img_noticiasemana {
    height: auto;
    width: 100%;
   border-radius: 10px;
}
#div_noticiames {
    display: flex;
    justify-content: center;
}
#img_semana {
    height: auto;
    width: 500px; 
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 10px;
}
#leia_mais {
    text-decoration: none;
    color: #76b900;
}
.main_2 {
    display: flex;
}
p {
    font-size: 18px;
    width: 65%;
    text-align: justify;
}
h3 {
    color: #76b900;
    font-size: 22px;
}
@media (max-width: 600px) {
    .main_2{
        flex-direction: column;
    }
    p{
        width: 100vw;
        margin-left: 10px;
    }
    #img_semana{
        width: 300px;
        margin-left: 20px;
    }
    #div_noticiasemana{
        flex-direction: column;
    }
}


