body {
    background-color: black;
    color: #FFFFFF;
    font-family: sans-serif;
    margin: 0%;

}

#h1_banner {
    text-align: center;
    font-size: 39px;
    color: #76b900;
    margin-left: 10px;
}

#p_banner {
    text-align: center;
}
#h2_1notice {
    font-size: 29px;
    color: #76b900;
    margin-left: 10px;
}
#img_1notice {
    height: 200px;
    width: 300px;
}

#section_1notice {
    margin-left: 10px;
    display: flex;
    width: 70%;
    margin-bottom: 26px;
    font-size: 24px;
    background-color: #202020;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#link_hogwatslegacy {
    text-decoration: none;
    color: #FFFFFF;
}
#p_1notice {
    margin-left: 7px;
}
#h3_noticiasemana {
    font-size: 25px;
    color: #76b900;
    margin-left: 10px;
}
#main_noticiasemana {
    display: flex;
}
#section_noticiasemana {
    margin-left: 10px;
    width: 80%;
    height: 187px;
    display: flex;
    margin-bottom: 23px;
    background-color: #202020;
    font-size: 18px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.p_noticiasemana {
    margin-left: 7px;
}
#h3_noticiamês {
    font-size: 20px;
    color: #76b900;
    margin-left: 10px;
}
#aside_noticiames {
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #202020;
}

#img_noticiasemana {
    height: 150px;
    width: 250px;
}
.p_noticiames {
    margin-left: 5px;
}