
body {
    background-color: black;
    color: white;
    margin: 0%;
}

#article1 {
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
    font-size: 30px;

}

#article2 {
    text-align: center;
}

div {
    margin-top: 50px;
}

#article3 {
    background-color: #202020;
    box-shadow: 5px 5px #76b900;
    font-size: 30px;
    text-align: center;
}