body{
   
    background-color: black;
    color: #ffffff;
    margin: 0%;
}
/*Titulo animado*/
svg {
    font-family: 'Russo One', sans-serif;
    width: 100%;
    height: 100%;
}

svg text {
    text-transform: uppercase;
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #76b900;
    font-size: 70px;
}

@keyframes stroke {
    0% {
        fill: rgba(72, 138, 20, 0);
        stroke: #76b900;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(72, 138, 20, 0);
        stroke: #76b900;
    }

    80% {
        fill: rgba(72, 138, 20, 0);
        stroke: #76b900;
        stroke-width: 3;
    }

    100% {
        fill: #76b900;
        stroke: rgba(54, 95, 160, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

/*Titulo animado Fim*/
/*Seletor do Trilho/Scrolling Bar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #76b900;
    border-radius: 15px;
}

/*Barra de scrolling perso Fim*/
/*Carrossel Começo*/
.slider {
    margin: 0 auto;
    width: 100%;
    height: 450px;
    overflow: hidden;
    margin-top: -225px;
}

.slides {
    width: 400%;
    height: 450px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 100%;
}

.manual-navegation {
    position: relative;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin-left: 0;
}

#radio2:checked~.first {
    margin-left: -25%;
}

#radio3:checked~.first {
    margin-left: -50%;
}

#radio4:checked~.first {
    margin-left: -75%;
}

.navegation-auto div {
    border: 2px solid #76b900;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegation-auto {
    position: absolute;
    width: 100%;
    margin-top: 410px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navegation-auto .auto-btn1 {
    background-color: white;
}

#radio2:checked~.navegation-auto .auto-btn2 {
    background-color: white;
}

#radio3:checked~.navegation-auto .auto-btn3 {
    background-color: white;
}

#radio4:checked~.navegation-auto .auto-btn4 {
    background-color: white;
}

/*Carrossel Fim */
h1{
    text-align: center;
    color: #76b900;
}

#div1{
    background-color:;
    width: 100%;
    height: 350px;
    border-radius: 20px;
    margin-bottom: 25px;
    color: white;
}
#div4{
    width: 100%;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 25px;
    color: white;
    display: flex;
}

img{

    margin-right: 8px;
    float: left;
    
}
.divs{
    background-color: #202020;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 25px;
    color: white;
    margin-left: 15px;

}

#sectinflex{
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

h3{
    margin-right: 8px;
}

p {
    font-size: 18px;
    
}

.section_card:houver {
    scale: 1.5;
    transition: 1.5s;
    transition: 0.6s ease-in-out;

}

h2{
  
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
  a{
    text-decoration: none;
    padding: 10px;
  }
  