<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="header.css">
    <title>dropdown Menu</title>
  </head>
  <body>
    <header>
    <div class="menu-bar">
      <h1 class="logo">Info<span>Gaming</span></h1>
      <ul>
        <li><a href="../index.html" target="_parent">Home</a></li>
        <li><a href="../pages/sobrenos.html" target="_parent">Sobre Nós</a></li>
        <li><a href="#">Categorias <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-menu">
                <ul>
                  <li><a href="../pages/categories/series/categoria - a/categoria-a.html" target="_parent">Filmes</a></li>
                  <li><a href="#" target="_parent">Games</a></li>
                  <li><a href="#" target="_parent">Series</a></li>
                  <li><a href="#" target="_parent">Overwacht</a></li>
                </ul>
              </div>
        <li><a href="../pages/contato.html" target="_parent">Contato</a></li>
      </ul>
    </div>
    <div class="hero">
      &nbsp;
    </div>
</header>
  </body>
</html>