body {
    background-color: black;
    color: #FFFFFF;
    font-family: sans-serif;
    margin: 0;
}

#h1_título {
    text-align: center;
    font-size: 39px;
    margin-bottom: 77px;
    color: #76b900;

}


.sections {
    background-color: #101010;
}

.p_text {
    font-size: 18px;
    width: 100%;
    width: 50%;


}

#img_1 {
    width: 550px;
    height: auto;
}


P {
    text-align: left;

}

#h2_subtitle {
    color: #76b900;
    margin-left: 10px;
}

#banerloud {
    margin-bottom: 100;
}

.ps {
    line-height: 30px;
    margin-left: 10px;

}

h4 {
    text-align: center;
    margin: auto;
}

#pcentro {
    text-align: center;
    color: #76b900;
}